tqdm
sentence-transformers
av

pandas
Pillow
deepdanbooru
numpy<2
opencv-python

einops
imageio
imgaug
git+https://github.com/cocodataset/panopticapi.git
pytorch-lightning
albumentations<1.4.4
huggingface-hub<0.26.0
omegaconf
diffusers
accelerate
matplotlib
scipy
basicsr
numba
imgaug
moviepy
flask
h5py